.background-grey{
	background-color: #c1c2c4;
}

.background-light-grey{
	background-color: #dedede;
}

.text-grey{
	color : #41474c;
}

.text-white{
	color : #FFFFFF;
}

.text-green{
	color : #519136;
}

.text-blue{
	color: #0b5676;
}

.text-light-grey{
	color :#8a8590;
}

.text-red{
	color : #913636;
}

.info{
	color : #eba112;
}

.error{
	color: #ec2327;
}

.ok{
	color: #519136;
}

