@font-face
{
font-family: roboto-lght;
src: url(font/Roboto-Light.ttf);
}

@font-face
{
font-family: roboto-med;
src: url(font/Roboto-Medium.ttf);
}


body {
	background: url(../images/2014/sesp_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
#main-content {
	
	color: #fff;
}

.login-text {
	font-family: roboto-lght;
	margin-left: 13rem;
	margin-top: 13rem;
	width: 600px;
}

.login-text h1 {
	font-family: roboto-lght;
	color: white;
	font-size: 2.6rem;
}

.login-text p {
	text-align: left;
	
	font-family: roboto-lght;
	font-size: 1.3rem;
}


label {
	color: #fff;
	font-family: roboto-med;
	margin-left: 0.5rem;
	margin-bottom: 0.3rem;
	font-size: 1rem;
}

#main-content form{
	margin-top: 4em;
	color: #fff;
}
.button {
	background-color: #333e45;
}

input {
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
	border-radius: 5px; /* CSS3 */
}

input:focus {
	background: #fff;
}

input:-webkit-autofill, 
textarea:-webkit-autofill {
    color: #000 !important;
    background-color: #fff !important;
	background-image: #fff !important;
	background: #fff !important;
}

a#divenable.button.tiny {
	width: 6.5rem!important;
	margin-top: 1rem;
	margin-left: -1.4rem;
	font-family: roboto-med!important;
	font-size: 0.8rem;
}

a#divenable.button.tiny:hover{
	background-color: #2e363c!important;
}

.forgot-pass {
	display: block;
	color: #fff;
	font-family: roboto-med;
	font-size: 0.8rem;
	margin-top: 2rem;
}