.map-list li:first-child{
	width: 75%;
	padding-right: 1%;
	padding-left: 0;
	border-right: 1px solid #E7E7E7;
}
.map-list li:nth-child(2) {
	background: #f0f0f0;
}
.map-list li{
	width: 25%;
	padding-left: 1%;
}
#summary-workordertypes-selected, #example-list {
	max-height:510px;
	overflow-y:scroll;
	margin: 0;
	padding: 0.1em;
	background: #f0f0f0;
	font-size: 12px;
}
#summary-workordertypes-selected li, #example-list li {
	width: 100%;
	border-bottom: 1px solid rgb(235, 233, 233);
}