body {
	color: #000;
}
.white {
	background: #fff;
	margin: 1em 1em 0em 0em;
}
.big-row {
	/*min-height: 450px;*/
	max-width: initial;
}
.panel {
	min-height: 100% !important;
}
.resource-projection-content {
	padding: 1em;
}
.filterHeader .big-row {
	min-height: 406px;
}
.filterHeader .big-row > div:not(:last-child) {
	height: 365px;
	border-right: 1px dotted #6a6a6a;
}
.filterHeader .big-row > div:nth-child(2) {
	overflow-y : scroll;
}

#block-planning-periods-table tr {
	background: #000 !important;
	cursor: pointer;
}

#block-planning-periods-table tr.selected {
	background: #1abc9c !important;
}

h4 small {
	margin: 1.2em 0;
	float: right;
}

h4 small a {
	color: #fff;
}