header .slide-menu-right a{
	display: none;
}

.status-color{
	color: #1abc9c;
	font-weight: bolder;
	border-bottom: 1px solid #1abc9c;
	margin-bottom: 0;
}

table{
	width: 100%;
	border: none;
	background: none;
	border-collapse:collapse;
	margin: 0;
}

th{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: none;
	max-width: 150px;
	word-wrap: break-word

}

thead{
	background: none;
}

td{
	border-top: 1px solid #e7e7e7;
}
table tr th, 
table tr td,
table thead tr th, 
table thead tr td,
table tfoot tr th, 
table tfoot tr td{
	padding: 0.4rem 0.4rem;
}


@media screen and (max-width: 1600px){
	th{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: none;
		max-width: 35px;
		word-wrap: break-word

	}
}