html {
    height: 100%;
}
body {
    background: #e7e7e7;
    height: 100%;
}
.big-row {
    height: 100%;
}

.big-row .full-height {
    height: 100%;
}
.height-40 {
    height: 38%;
}
.height-50 {
    height: 48.5%;
}
.height-45 {
    height: 43%;
}
.height-20 {
    height: 20%;
}
.height-10 {
    height: 10%;
}
.panel-heading {
   /*color: #999a9b;*/
}
.panel-inner {
    padding-top: 0 !important;
}
.panel-inner .large-7, .panel-inner .large-6:first-child {
    border-right: 1px solid #EEEEEE;
}
.bold {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.cpu-container {
    border-bottom: 1px solid #EEEEEE;
}
.info {
    font-weight: bold;
    padding: 5px;
    font-size: 1.3em;
}
table {
    width: 100%;
}
table tr th {
    line-height: 0px !important;
}
table tr th, table tr td {
    padding: 5px;
    font-size: 12px;
}
.pda-order label {
    width: 30%;
    float: left;
    padding-top: 0.5em;
}
.pda-order span{
    float: left;
    font-weight: bold;
    font-size: 2em;
}