@font-face
{
font-family: roboto-lght;
src: url(font/Roboto-Light.ttf);
}

@font-face
{
font-family: roboto-med;
src: url(font/Roboto-Medium.ttf);
}

@font-face
{
font-family: roboto-bld;
src: url(font/Roboto-Bold.ttf);
}

header .slide-menu-right a{
    display: none;
}


#main-content-index ul li {
    text-align: center;
    cursor: pointer;
    font-family: roboto-lght!important;
    letter-spacing:1px;
    font-size: 16px;
}

#main-content-index {
    font-size:14px;
    text-align: center;
    background-image: linear-gradient(to top, #333e45 100%, #333e45 100%);
    background-size: 100% 52%, 100% 50%, 100% 100%;
    background-position: 0 0, 0 100%, 0 0;
    background-repeat: no-repeat;
    font-family: roboto-lght!important;
}

.logistics-icon-temp {
    fill: #168c7b;
    display: inline-block;
}

.logistics-icon-pos {
    margin: 0.2rem 0rem -0.2rem 0.6rem;
    display: inline-block;
}

.logistics-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  fill: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.logistics-icon:hover {
    fill: #168c7b;

  }

#main-content-index ul li div {
    cursor: pointer;
    background: #1CAF9A;
    width: 99.9999%;
    margin: auto;
    height: 190px;
    width: 190px;
    padding: 2.5em 1em 1em 1em;
    border-radius: 200px;
}

#main-content-index ul li div a {
    cursor: pointer;
    color: #fff;
}

#main-content-index  a{
    color: #fff;
}

 #main-content-index  a:hover,
 #main-content-index  a:focus{
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition: all .2s ease-in-out;
    color: rgba(0,0,0,0.2);
    text-shadow: none;
}

#main-content-index h3 {
    color: #fff;
}
.welcome-text {
    color: #fff;
    font-size: 4em;
    padding: 1.5em 0;
    margin-top: 4.5rem;
}