.column-header {
    padding: 0.6em 0;
    background: white;
 /*   background: #1abc9c; */
    color: black;
    font-weight: bold;
}

.total-progress{
 width: 30%
}
.work-order-progress{
 width: 40%
}
.detailed-progress{
 width: 30%
}
.filtered {
	height: 100%;
	background: #2c464f;
	position: absolute;
	right: 0;
	top: 0;
	color: #cfcaca;
	padding-top: 4em;
}
.filtered div {
	color: #fff;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.filtered ul {
	list-style: none;
	margin: 0;
	font-size: 12px;
}
.page-name-heading {
	background: #fff;
	border: 1px solid #c4dad5;
	padding-left: 0.2em;
	margin-left: 0;
	padding: 1em;
}
.sub-menu li {
	display: inline;
	padding-right: 3em;
}
.sub-menu :not(:first-child){
	opacity: 0.5;
	cursor: pointer;
}
.sub-menu .active {
	font-weight: bold;
	opacity: 1;
}
