/**
 * 	Content
 */


#main-content .title-large-block{
	margin: 10px 0px;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
}

#main-content .title-large-block span{
	font-weight: normal;
	font-size: 25px;
}

#main-content .block{
	margin: 10px 0px;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 0px 12px 0px #adadad;
	border : 1px solid #a8a8a8;
	position:relative;
	background-color: white;
}

#main-content .large-block{
	width: 930px;
}

#main-content .small-block{
	width: 444px;
	margin-left: 20px;
	margin-right: 20px;
}

#main-content .inside-small-block{
	width: 236px;
	position: absolute;
	top: 6px;
	right: 10px;
	margin: 0px;
}

#main-content .block .block-title{
	height : 37px;
	background-image: url(../images/big-ribbon.png);
	width: 100%;
	padding-left: 25px;
	position: relative;
	left: -16px;
	top :6px;
	z-index: 20;
}

#main-content .block.retractable .block-title{
	cursor: pointer;
}

#main-content .block .block-title .block-title-picto{
	margin-top: 2px;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	display: inline-block;
}

#main-content .block .block-title .block-title-name{
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 10px;
	text-transform: uppercase;
}

#main-content .block .block-title .block-title-number{
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4px;
	margin-left: 5px;
}

#main-content .block .block-title .block-title-button-open-all{
	position: absolute;
	top: 6px;
	right:100px;
	font-weight: bold;
}

#main-content .block .block-title .block-title-button-close-all{
	position: absolute;
	top: 6px;
	right: 10px;
	font-weight: bold;
}

#main-content .block .block-title .block-arrow{
	position: absolute;
	top: 3px;
	right: 3px;
	height: 23px;
	width: 20px;
}

#main-content .block .block-title .block-arrow.open{
	background:url(../images/toggle-btn-up.png);
}

#main-content .block .block-title .block-arrow.close{
	background:url(../images/toggle-btn-down.png);
}

#main-content .block .content-wrapper{
	margin-top: -2px;
}

#main-content .block .content-wrapper.full-height{
	margin-top: 0px;
}

#main-content .block.retractable .content-wrapper{
	padding-bottom: 15px;
}

#main-content .block .content-wrapper .content{
	background-color: white;	
	border-top : none;
	
	width: 100%;
}


#main-content .block .content-wrapper .content .legend{
	margin-top: 15px;
}

#main-content .block .content-wrapper .content .legend-block{
	display: block;
	margin: 12px 20px;	
}

#main-content .block .content-wrapper .content .legend-block a{
	color:#0b5676;
}

#main-content .block .content-wrapper .content .legend-block .legend-block-title{
	font-weight: bold;
	display: inline-block;
	min-width: 150px;
}

#main-content .block .content-wrapper .content .legend-block .legend-block-content{
	margin-left: 0.6em;
	margin-top: 2px;
	display: inline-block;
}

#main-content .block .content-wrapper .content .status{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 14px;
}


/**
 * 	Block table
 */
#main-content .block .content-wrapper .content table.big-table{
	color: #41474c;
	width: 100%;
	border-collapse:collapse 
}

#main-content .block .content-wrapper .content table.big-table tr.table-title{
	height: 50px;
	font-weight: bold;
}

#main-content .block .content-wrapper .content table tr.line-grey{
	background-color: #ededed;
}

#main-content .block .content-wrapper .content table td{
	height: 25px;
}


/**
 * 	Accordion block
 */

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.accordion .toggleSubMenu{
	position:relative;
}

.accordion .toggleSubMenu .accordion-arrow{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 23px;
}

.accordion .toggleSubMenu .accordion-arrow.close{
	background:url(../images/toggle-btn-right.png);
}

.accordion .toggleSubMenu .accordion-arrow.open{
	background:url(../images/toggle-btn-down.png);
}

.accordion .accordion-title{
  display: block;
  padding: 8px 10px 0px 10px;
  text-decoration: none;
  background: url(../images/accordion-bar-bg.jpg);
  height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2db1ea;
}

.accordion a:hover{
	text-decoration: none;
}

.accordion .subMenu {
  font-size: .8em;
  font-size: .9em;
  margin: 0;
  padding: 0;
}

.accordion ul.subMenu a {
  background: none;
  padding: 3px 20px;
}

.accordion ul.subMenu table{
	width: 100%;	
	border-collapse:collapse;
	margin-bottom: 5px;
}

.accordion ul.subMenu table tr.table-title{
	height: 25px;
}

.accordion ul.subMenu table th{
	padding-left: 10px;
	padding-right: 10px;
}

.accordion ul.subMenu table td{
	height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.accordion ul.subMenu a.link-more,
.large-block a.link-more{
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
}

#main-content .accordion ul.subMenu .center-wrapper{
	text-align: center;
	padding: 5px 0px;
}

#main-content .large-block .center-wrapper{
	text-align: center;
	padding-top: 10px;
}

/**
 * Block Map filter
 */
#main-content .block.map-filter .content{
	text-align: center;
}

#main-content .block.map-filter .content .select-wrapper{
	margin-top: 10px;	
	padding: 0px 16px;
	font-size: 0;
}

#main-content .block.map-filter .content .select-wrapper .small-select-wrapper{
	display: inline-block;
	vertical-align: middle;
	width: 97px;	
}

#main-content .block.map-filter .content .select-wrapper .small-select-wrapper.left-select{
	margin-right: 8px;
}

#main-content .block.map-filter .content .select-wrapper .select-title{
	display: block;
	font-weight: bold;
	/*padding-left: 5px; */
	padding-left: 1px;
	margin-bottom: 2px;
	font-size: 12px;
}

#main-content .block.map-filter .content .button-wrapper{
	margin-top: 20px;
}

.olButton {
 padding : 0 0 0 5px;
}