body {
	background: url(../images/2014/sesp_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#main-content {
	margin-top: 10%;
	font-family: 
	height: 460px;
	color: #fff;
}

.enter-title {
	text-align: center;
	font-size: 3em;
}
label {
	color: #fff;
	font-weight: bold;
}

#main-content form{
	margin-top: 9em;
	color: #fff;
}
.button {
	background-color: #000;
}
input:focus {
	background: #fff;
}