
html, body, #main-content {
    font-family: arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#main-content .dashboard-block {
    height: 40px;
    position: relative;
}
#main-content .column {
    display: inline-block;
    height: 100%;
}
#main-content .column.col1 {
    width: 28%;
}
#main-content .column.col2 {
    width: 38%;
}
#main-content .column.col3 {
    width: 34%;
}
#main-content .dashboard-block-inner {
    border: 1px solid #A8A8A8;
    bottom: 0;
    box-shadow: 0 0 12px 0 #ADADAD;
    left: 0;
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
#main-content .dashboard-block-title {
    background-image: url("../images/big-ribbon.png");
    font-size: 18px;
    font-weight: bold;
    height: 34px;
    left: -16px;
    padding-left: 25px;
    padding-top: 3px;
    position: relative;
    top: 6px;
    width: 100%;
    z-index: 20;
}
#main-content .dashboard-block-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 30px;
}
#main-content .dashboard-block-content .dashboard-block-content-title {
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}
#main-content .dashboard-block-content .sub-col {
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: top;
}
#main-content .dashboard-block-content .sub-line {
    position: relative;
    width: 100%;
}
#main-content .dashboard-block-content .dashboard-block-content-data {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30px;
}
.background-grey {
    background: none repeat scroll 0 0 #F4F4F4;
}
#main-content table {
    margin-top: 0;
}
table tr td, table tr th {
    color: #8A8590;
    font-size: 10px;
    padding-left: 9px;
    text-align: left;
}
table tr th {
    color: #41474C;
}

#main-content #block-import-server {
    height: 40%;
}
#main-content #block-import-server .dashboard-block-inner {
    margin-left: 20px;
}
#main-content #block-import-server .dashboard-block-content .sub-col1 {
    height: 100%;
    left: 5px;
    position: absolute;    
    width: 50%;
}
#main-content #block-import-server .dashboard-block-content .sub-col2 {
    height: 33%;
    position: absolute;
    right: 5px;    
    width: 50%;
}
#main-content #block-import-server .dashboard-block-content .sub-line1 {
    height: 33%;
    width: 100%;
}
#main-content #block-import-server .dashboard-block-content .sub-line2 {
    height: 67%;
    width: 100%;
}
#main-content #block-import-server .sub-line2 .dashboard-block-content-data {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}
#main-content #block-import-server .sub-line1 .sub-col1 .dashboard-block-content-data {
    height: 28%;
    text-align: left;
    width: 100%;
}
#main-content #block-import-server .sub-line1 .sub-col2 .dashboard-block-content-data {
    height: 35%;
    text-align: center;
    width: 42%;
}
#main-content #block-import-server .dashboard-block-content .sub-line2 .dashboard-block-content-data {
    height: 82%;
    position: relative;
    top: 10px;
    width: 100%;
}
#main-content #block-import-server #import-servers-memory {
    font-size: 30px;
    font-weight: bold;
    padding-top: 28px;
    text-align: center;
    vertical-align: middle;
}






#main-content #block-export-server {
    height: 40%;
}
#main-content #block-export-server .dashboard-block-inner {
    margin-left: 20px;
}
#main-content #block-export-server .dashboard-block-content .sub-line1 .sub-col1 {
    height: 100%;
    left: 5px;
    position: absolute;    
    width: 50%;
}
#main-content #block-export-server .dashboard-block-content .sub-line1 .sub-col2 {
    height: 100%;
    position: absolute;
    right: 5px;    
    width: 50%;
}
#main-content #block-export-server .dashboard-block-content .sub-line1 {
    height: 33%;
    width: 100%;
}
#main-content #block-export-server .dashboard-block-content .sub-line2 {
    height: 67%;
    width: 100%;
}
#main-content #block-export-server .sub-line2 .dashboard-block-content-data {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}
#main-content #block-export-server .sub-line1 .sub-col1 .dashboard-block-content-data {
    height: 28%;
    text-align: left;
    width: 100%;
}
#main-content #block-export-server .sub-line1 .sub-col2 .dashboard-block-content-data {
    height: 35%;
    text-align: center;
    width: 42%;
}
#main-content #block-export-server .dashboard-block-content .sub-line2 .dashboard-block-content-data {
    height: 82%;
    position: relative;
    top: 10px;
    width: 100%;
}
#main-content #block-export-server #export-servers-memory {
    font-size: 30px;
    font-weight: bold;
    padding-top: 28px;
    text-align: center;
    vertical-align: middle;
}
#main-content #block-transaction-server {
    height: 20%;
}
#main-content #block-transaction-server .dashboard-block-inner {
    margin-left: 20px;
}
#main-content #block-transaction-server .dashboard-block-content .sub-col1 {
    height: 100%;
    width: 50%;
}
#main-content #block-transaction-server .dashboard-block-content .sub-col2 {
    height: 100%;
    width: 50%;
}
#main-content #block-transaction-server .dashboard-block-content-data {
}
#main-content #block-transaction-server #transaction-servers-memory {
    font-size: 30px;
    font-weight: bold;
    padding-top: 28px;
    text-align: center;
    vertical-align: middle;
}
#main-content #block-import-statistics {
    height: 50%;
}
#main-content #block-import-statistics .sub-line1 {
    height: 74%;
}
#main-content #block-import-statistics .sub-line1 .sub-col1 {
    width: 50%;
}
#main-content #block-import-statistics .sub-line1 .sub-col1 .sub-line1 {
    height: 75%;
}
#main-content #block-import-statistics .sub-line1 .sub-col1 .sub-line2 {
    height: 20%;
}
#main-content #block-import-statistics .sub-line1 .sub-col1 .sub-line2 .sub-col1 {
    width: 50%;
}
#main-content #block-import-statistics .sub-line1 .sub-col1 .sub-line2 .sub-col2 {
    width: 50%;
}
#main-content #block-import-statistics .sub-line1 .sub-col2 {
    width: 50%;
}
#main-content #block-import-statistics .sub-line1 .sub-col2 .sub-line1 {
    height: 76%;
}
#main-content #block-import-statistics .sub-line1 .sub-col2 .sub-line2 {
    height: 20%;
}
#main-content #block-import-statistics .sub-line2 {
    height: 26%;
}
#main-content #block-import-statistics .dashboard-block-content-data {
}
#main-content #block-import-statistics #import-statistics-files-imported, #main-content #block-import-statistics #import-statistics-data-imported, #main-content #block-import-statistics #import-statistics-messages-received {
    font-size: 26px;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}
#main-content #block-import-statistics #import-statistics-table .col1 {
    width: 3%;
}
#main-content #block-import-statistics #import-statistics-table .col2 {
    width: 30%;
}
#main-content #block-import-statistics #import-statistics-table .col3 {
    width: 50%;
}
#main-content #block-import-statistics #import-statistics-table .col4 {
    width: 30%;
}
#main-content #block-import-statistics #import-statistics-table .col5 {
    width: 3%;
}
#main-content #block-import-statistics #import-statistics-table .col6 {
    width: 3%;
}
#main-content #block-export-statistics {
    height: 50%;
}
#main-content #block-export-statistics .sub-line1 {
    height: 74%;
}
#main-content #block-export-statistics .sub-line1 .sub-col1 {
    width: 50%;
}
#main-content #block-export-statistics .sub-line1 .sub-col1 .sub-line1 {
    height: 75%;
}
#main-content #block-export-statistics .sub-line1 .sub-col1 .sub-line2 {
    height: 20%;
}
#main-content #block-export-statistics .sub-line1 .sub-col1 .sub-line2 .sub-col1 {
    width: 50%;
}
#main-content #block-export-statistics .sub-line1 .sub-col1 .sub-line2 .sub-col2 {
    width: 50%;
}
#main-content #block-export-statistics .sub-line1 .sub-col2 {
    width: 50%;
}
#main-content #block-export-statistics .sub-line1 .sub-col2 .sub-line1 {
    height: 76%;
}
#main-content #block-export-statistics .sub-line1 .sub-col2 .sub-line2 {
    height: 20%;
}
#main-content #block-export-statistics .sub-line2 {
    height: 26%;
}
#main-content #block-export-statistics #export-statistics-files-exported, #main-content #block-export-statistics #export-statistics-data-exported, #main-content #block-export-statistics #export-statistics-messages-sent {
    font-size: 26px;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}
#main-content #block-export-statistics #export-statistics-table .col1 {
    width: 3%;
}
#main-content #block-export-statistics #export-statistics-table .col2 {
    width: 24%;
}
#main-content #block-export-statistics #export-statistics-table .col3 {
    width: 40%;
}
#main-content #block-export-statistics #export-statistics-table .col4 {
    width: 30%;
}
#main-content #block-users {
    height: 45%;
}
#main-content #block-users .sub-line1 {
    height: 50%;
}
#main-content #block-users .sub-line2 {
    height: 50%;
}
#main-content #block-errors {
    height: 40%;
}
#main-content #block-errors .sub-line1 {
    height: 68%;
}
#main-content #block-errors .sub-line2 {
    height: 50%;
}
#main-content #block-errors #errors-table .col1 {
    width: 14%;
}
#main-content #block-errors #errors-table .col2 {
    width: 27%;
}
#main-content #block-errors #errors-table .col3 {
    width: 14%;
}
#main-content #block-errors #errors-table .col4 {
    width: 28%;
}
#main-content #block-errors #errors-table .col5 {
    width: 20%;
}
#main-content #block-work-orders {
    height: 15%;
}
#main-content #block-work-orders #work-orders-sent-to-pda {
    font-size: 26px;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}
