#main-content #block-overview .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -300px no-repeat;
}

#main-content #block-location .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -425px no-repeat;
}

#main-content #block-consumption .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -150px no-repeat;
}

#main-content #block-measurepoint-information .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -350px no-repeat;
}

#main-content #block-consumption #block-consumption-chart-wrapper {
	text-align: center;
}

#main-content #block-consumption .center-wrapper {
	text-align: center;
}

#main-content #block-consumption .center-wrapper {
	font-weight: bold;
	margin-top: 20px;
}

#main-content #block-overview .icon {
	height: 25px;
	width: 25px;
	display: inline-block;
}

#main-content #block-overview .icon.water {
	background: url(../images/icons-sprite.png) 0 -225px no-repeat;
}

#main-content #block-overview .icon.gas {
	background: url(../images/icons-sprite.png) 0 -325px no-repeat;
}

#main-content #block-overview .icon.electricity {
	background: url(../images/icons-sprite.png) 0 -250px no-repeat;
}

#main-content #block-overview .icon.communication {
	background: url(../images/icons-sprite.png) 0 -525px no-repeat;
}

#meterValuesGridDiv {
	visibility: collapse;
	height: 1px;
}

#main-content .small-block .content-wrapper table {
	max-width: 700px;
	width: 100% !important;
	table-layout: fixed;
}

#main-content .small-block .content-wrapper table td {
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main-content .large-block .big-table {
	width: 100% !important;
	max-width: 930px;
	table-layout: fixed;
}

#main-content .large-block .big-table td {
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#main-content .large-block .big-table th {
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#linkinstid a {
	margin-left: 40px;
}

#linkinstid a:hover {
	text-decoration: underline;
}

#block-location-map-wrapper {
	position: relative;
}

#block-overview-utility {
	position: relative;
	top: 3px;
}