/*#main-content .accordion ul.subMenu a {
	padding-left: 0px;
}

#main-content #block-search-results .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -450px no-repeat;
}

#main-content .large-block .installation-table  {
	width: 100% !important;
	max-width: 930px;
	table-layout: fixed;
}
#main-content .large-block .installation-table th {
	padding-top: 8px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}
#main-content .large-block .installation-table td {
	padding-top: 8px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

.block-title-button-open-all {
	margin-left: 40px;
}

.block-title-button-close-all {
	margin-left: 40px;
}*/

header .slide-menu-right a{
    display: none;
}


.search-list{
	width: 100%;
	list-style: none;
	margin: 0;
}

.search-list li{
	width: 49%;
	list-style: none;
	display: inline-block;
	float: left;
	padding: 0.5%;
}

table{
	width: 100%;
	border: none;
	background: none;
	border-collapse: collapse; 
}

th, td{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: none;
	text-align: left; 

}

thead{
	background: none;
}

td{
	border-top: 1px solid #e7e7e7;
}