/*#main-content .accordion ul.subMenu a {
	padding-left: 0px;
}

#main-content #block-search-results .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -450px no-repeat;
}

#main-content .large-block .installation-table  {
	width: 100% !important;
	max-width: 930px;
	table-layout: fixed;
}
#main-content .large-block .installation-table th {
	padding-top: 8px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}
#main-content .large-block .installation-table td {
	padding-top: 8px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

.block-title-button-open-all {
	margin-left: 40px;
}

.block-title-button-close-all {
	margin-left: 40px;
}*/

header .slide-menu-right a{
    display: none;
}


.search-list{
	width: 100%;
	list-style: none;
	margin: 0;
}

.search-list li{
	width: 49%;
	list-style: none;
	display: inline-block;
	float: left;
	padding: 0.5%;
}

table{
	width: 100%;
	border: none;
	background: none;
	border-collapse: collapse; 
}

th, td{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: none;
	text-align: left; 

}

thead{
	background: none;
}

td{
	border-top: 1px solid #e7e7e7;
}

@media only screen and (max-width: 1500px){
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: 1px solid #ccc; }
	td { 
		/* Behave  like a "row" */
		display: block !important;
	}
	
	#instresults td:before { 
		content: attr(data-th)": ";
		width: 50%;
		padding-right: 1em;
		display: inline-block !important;
		font-weight: bold;
	}
	
	/*
	Label the data
	*/
	/*#instresults td:nth-of-type(1):before { content: "data-th:"; }
	#instresults td:nth-of-type(2):before { content: "Code:"; }
	#instresults td:nth-of-type(3):before { content: "Ext code:"; }
	#instresults td:nth-of-type(4):before { content: "Domain:"; }
	#instresults td:nth-of-type(5):before { content: "Last Changed:"; }
	#instresults td:nth-of-type(6):before { content: "Region:"; }
	#instresults td:nth-of-type(7):before { content: "Milestone Area:"; }
	#instresults td:nth-of-type(8):before { content: "Net Area:"; }
	#instresults td:nth-of-type(9):before { content: "Status:"; }*/
}