@font-face
{
font-family: roboto-lght;
src: url(font/Roboto-Light.ttf);
}

@font-face
{
font-family: roboto-med;
src: url(font/Roboto-Medium.ttf);
}

@font-face
{
font-family: roboto-bld;
src: url(font/Roboto-Bold.ttf);
}

body {
	background: url(../images/2014/sesp_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

/*ERROR WINDOW*/
.errors {
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding-top: 1rem;
	margin-top: 1rem;
}

.errors li{
	list-style: none;
	font-family: roboto-bld!important;
	color:#000;
	font-size: 0.8rem;
	}
/*ERROR WINDOW*/

/*LOGIN PAGE TEXT*/
#main-content {
	color: #fff;
}

.login-text {
	font-family: roboto-lght;
	margin: 0 auto;
	margin-top: 13%;
	width: 60%;
}

.login-text h1 {
	font-family: roboto-lght;
	color: white;
	font-size: 2.6rem;
}

.login-text p {
	text-align: left;
	font-family: roboto-lght;
	font-size: 1.3rem;
	margin-top: 6%;
	margin-bottom: 6%;
}

@media screen and (max-width: 700px) {
	.login-text {
	font-family: roboto-lght;
	margin: 0 auto;
	margin-top: 30%;
	width: 95%;
	}

	.login-text h1 {
	font-size: 1.9rem;
	}

	.login-text p {
	font-size: 1rem;
	}

}
/*LOGIN PAGE TEXT*/


label {
	color: #fff;
	font-family: roboto-med;
	margin-left: 0.5rem;
	margin-bottom: 0.3rem;
	font-size: 1rem;
}

#main-content form{
	margin-top: 2.5em;
	color: #fff;
}
.button {
	background-color: #333e45;
}

input {
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
	border-radius: 5px; /* CSS3 */
}

input:focus {
	background: #fff;
}

input:-webkit-autofill, 
textarea:-webkit-autofill {
    color: #000 !important;
    background-color: #fff !important;
	background-image: #fff !important;
	background: #fff !important;
}



a#divenable.button.tiny {
	float: none!important;
	display: inline-block;
	padding: 0.6rem 2.7rem !important;
	font-family: roboto-med !important;
	font-size: 0.8rem;
	margin-left: 1rem;
	margin-top: 1.2rem;
}

a#divenable.button.tiny:hover{
	background-color: #2e363c!important;
	opacity:0.8;
}

.forgot-pass {
	float: none!important;
	display: inline-block!important;
	color: #fff;
	font-family: roboto-med!important;
	font-size: 0.8rem;
}

.forgot-pass:hover {
	color: #fff;
}

.button[disabled] {
	float: none!important;
	display: inline-block;
	padding: 0.6rem 2.7rem !important;
	font-family: roboto-med !important;
	font-size: 0.8rem;
	margin-left: 1rem;
	margin-top: 1.2rem;
	background-color: #2e363c!important;
}