#main-content{
	background-color: #00a0d7;	
	margin-top: 40px;
	font-family:"Segoe UI";
	height: 460px;
	padding: 40px 0px 0px 0px;
}

#main-content .column{
	display: inline-block;
	vertical-align : middle;
	margin: 0px 30px;
}

#main-content .left-column{
	width: 260px;	
	text-align: center;
}

#main-content .separator{
	width: 20px;
	background:url(../images/separateur-login-blanc.png) no-repeat;
	height: 413px;
}

#main-content .right-column{
	width: 320px;
	padding-left: 10px;
}

#main-content .left-column img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main-content .left-column .logo-capgemini{
	margin-top : 50px;
}

#main-content .left-column .logo-smart-energies{
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-content .left-column span{
	font-weight: bold;
}

#main-content .right-column .title{
	font-size: 30px;
	margin-bottom: 30px;
	display: inline-block;
}

#main-content .right-column .user-box,
#main-content .right-column .password-box{
	margin-bottom: 15px;
}

#main-content .right-column .password-box{
	display: inline-block;
	vertical-align: middle;
}

#main-content .right-column .user-box span,
#main-content .right-column .password-box span{
	display: block;
	padding-left: 5px;
	margin-bottom: 3px;
}

#main-content .right-column .input-wrapper{
	border: 1px solid;
	border-top-color: #6b6e73;
	border-bottom-color: transparent;
	border-left-color: #6b6e73;
	border-right-color: transparent;
	display: inline-block;
	background-color: white;
	padding: 5px 10px;
	box-shadow: inset 1px 1px 1px 0px #6b6e73;
}

#main-content .right-column input{
	background-color: transparent;
	width: 165px;
	outline: none;
	border: none;
}

#main-content .right-column .button-wrapper{
	background-color: initial;
	padding: 0px;
	border-radius: 0px;
	margin-left: 15px;
	vertical-align: middle;
	margin-top: 6px;
}

#main-content .right-column .button-wrapper #connexion-button{
	padding: 6px 20px 3px 20px;
	border-radius: 0px;
}

#main-content .right-column .button-wrapper #connexion-button:active{
	padding: 7px 20px 2px 20px;
	border-radius: 0px;
}

#main-content .right-column .link{
	margin-top: 10px;
}

#main-content .right-column .link a{
	color : white;	
	text-decoration: none;
}

#main-content .right-column .link a:hover{
	text-decoration: underline;
}
