#main-content #block-overview .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -300px no-repeat;
}

#main-content #block-location .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -425px no-repeat;
}

#main-content #block-hardware-configuration .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -175px no-repeat;
}

#main-content #block-history .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -50px no-repeat;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf {
	max-width: 970px;
	width: 100% !important;
	table-layout: fixed;
	
}
#main-content .block .content-wrapper .content table.big-table.hardware-conf td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf .col1 {
	padding-left: 20px;
	width: 120px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf .col2 {
	padding-left: 10px;
	padding-right: 5px;
	width: 50px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf .col3 {
	padding-left: 10px;
	padding-right: 5px;
	width: 145px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf .col4 {
	padding-left: 10px;
	padding-right: 10px;
	width: 250px;
}



#main-content .block .content-wrapper .content table.big-table.hardware-conf tr.table-line
	{
	height: 26px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr.selected
	{
	background-color: #0e6f99;
	color: white;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td
	{
	padding-left: 10px;
	padding-right: 10px;
}

/*
#main-content .block .content-wrapper .content table.big-table.hardware-conf td .list-icon{
	display : inline-block;
	vertical-align : middle;
	background-image: url(../images/list-+.png);
	height: 19px;
	width: 18px;
	margin-right: 5px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td .list-icon.level1{
	margin-left: 5px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td .list-icon.level2{
	margin-left: 40px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td .list-icon.level3{
	margin-left: 75px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td .list-icon.level4{
	margin-left: 110px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td span{
	display : inline-block;
	vertical-align:  middle;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf td a,
#main-content .block .content-wrapper .content table.big-table.hardware-conf td a:active{
	text-decoration: underline;	
	display : inline-block;
	vertical-align:  middle;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr.selected a,
#main-content .block .content-wrapper .content table.big-table.hardware-conf tr.selected a:active{
	color: white;
}
*/ /*Added for tree table support*/
.expanded td:first-child:before,.collapsed td:first-child:before {
	display: inline-block;
	width: 14px;
	text-align: center;
	margin-right: 5px;
}

.expanded td:first-child:before {
	content: url('../images/list-.png');
}

.collapsed td:first-child:before {
	content: url('../images/list+.png');
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="0"] td:first-child
	{
	padding-left: 20px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="1"] td:first-child
	{
	padding-left: 40px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="2"] td:first-child
	{
	padding-left: 70px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="3"] td:first-child
	{
	padding-left: 100px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="4"] td:first-child
	{
	padding-left: 130px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="5"] td:first-child
	{
	padding-left: 160px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="6"] td:first-child
	{
	padding-left: 190px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="7"] td:first-child
	{
	padding-left: 220px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="8"] td:first-child
	{
	padding-left: 250px;
}

#main-content .block .content-wrapper .content table.big-table.hardware-conf tr[data-level="9"] td:first-child
	{
	padding-left: 280px;
}

/**
 * 	column width of installation table
 */
.accordion ul.subMenu table.installation-table .col1 {
	width: 70px;
}

.accordion ul.subMenu table.installation-table .col2 {
	width: 120px;
}

.accordion ul.subMenu table.installation-table .col3 {
	width: 200px;
}

.accordion ul.subMenu table.installation-table .col4 {
	width: 270px;
}

/**
 * 	column width of status table
 */
.accordion ul.subMenu table.status-table .col1 {
	width: 130px;
}

.accordion ul.subMenu table.status-table .col2 {
	width: 130px;
}

.accordion ul.subMenu table.status-table .col3 {
	width: 130px;
}

.accordion ul.subMenu table.status-table .col4 {
	width: 270px;
}

/**
 * 	column width of stock-site table
 */
.accordion ul.subMenu table.stock-site-table .col1 {
	width: 130px;
}

.accordion ul.subMenu table.stock-site-table .col2 {
	width: 130px;
}

.accordion ul.subMenu table.stock-site-table .col3 {
	width: 130px;
}

.accordion ul.subMenu table.stock-site-table .col4 {
	width: 270px;
}

/**
 * 	column width of pallet table
 */
.accordion ul.subMenu table.pallet-table .col1 {
	width: 50px;
}

.accordion ul.subMenu table.pallet-table .col2 {
	width: 50px;
}

.accordion ul.subMenu table.pallet-table .col3 {
	width: 60px;
}

.accordion ul.subMenu table.pallet-table .col4 {
	width: 60px;
}

.accordion ul.subMenu table.pallet-table .col5 {
	width: 60px;
}

.accordion ul.subMenu table.pallet-table .col6 {
	width: 60px;
}

.accordion ul.subMenu table.pallet-table .col7 {
	width: 110px;
}

.accordion ul.subMenu table.pallet-table .col8 {
	width: 110px;
}

/**
 * 	column width of owner table
 */
.accordion ul.subMenu table.owner-table .col1 {
	width: 120px;
}

.accordion ul.subMenu table.owner-table .col2 {
	width: 120px;
}

.accordion ul.subMenu table.owner-table .col3 {
	width: 410px;
}

/*	Page specific settings */
#main-content .small-block .content-wrapper table {
	max-width: 700px;
	width: 100% !important;
	table-layout: fixed;
}

#main-content .small-block .content-wrapper table td {
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main-content .large-block .history-table {
	width: 100% !important;
	max-width: 930px;
	table-layout: fixed;
}

#main-content .large-block .history-table td {
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#main-content .large-block .history-table th {
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#main-content .block .content-wrapper .content table.big-table th {
	padding: 10px;
	vertical-align: middle;
}

#main-content .block .content-wrapper .content table.big-table td {
	vertical-align: middle;
	height: 30px;
}

#block-device-location-map-wrapper {
	position: relative;
}