.map-list li:first-child{
	width: 75%;
	padding-right: 1%;
	padding-left: 0;
	border-right: 1px solid #E7E7E7; 
}

.map-list li{
	width: 25%;
	padding-left: 1%;
}

#tabs-wrapper .button{
	margin: 0;
}

.panel-heading{
	border-bottom: 1px solid #E7E7E7;
}