#main-content #block-overview .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -300px no-repeat;
}

#main-content #block-location .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -425px no-repeat;
}

#main-content #block-cases .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -375px no-repeat;
}

#main-content #block-multipoint-measurepoints .block-title-picto {
	background: url(../images/icons-sprite.png) 0 -375px no-repeat;
}

#main-content .block .content-wrapper .content .status {
	margin-top: 30px;
	margin-bottom: 5px
}

#main-content #block-cases #block-cases-table .col1 {
	width: 50px;
}

#main-content #block-cases #block-cases-table .col2 {
	width: 90px;
}

#main-content #block-cases #block-cases-table .col3 {
	width: 190px;
}

#main-content #block-cases #block-cases-table .col4 {
	width: 80px;
}

#main-content #block-cases #block-cases-table .col5 {
	width: 90px;
}

#main-content #block-cases #block-cases-table .col6 {
	width: 130px;
}

#main-content #block-cases #block-cases-table .col7 {
	width: 90px;
}

#main-content #block-cases #block-cases-table th,#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table th
	{
	padding-left: 15px;
	padding-right: 15px;
}

#main-content #block-cases #block-cases-table td,#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table td
	{
	padding-left: 15px;
	padding-right: 15px;
	height: 24px;
}

#main-content #block-cases .center-wrapper,#main-content #block-multipoint-measurepoints .center-wrapper
	{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}

#main-content #block-cases .center-wrapper a,#main-content #block-multipoint-measurepoints .center-wrapper a
	{
	font-weight: bold;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col1
	{
	width: 25px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col2
	{
	width: 50px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col3
	{
	width: 120px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col4
	{
	width: 120px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col5
	{
	width: 120px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .col6
	{
	width: 320px;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .icon
	{
	height: 25px;
	width: 25px;
	display: inline-block;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .icon.water
	{
	margin-left: 10px;
	background: url(../images/icons-sprite.png) 0 -225px no-repeat;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .icon.gas
	{
	margin-left: 10px;
	background: url(../images/icons-sprite.png) 0 -325px no-repeat;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .icon.elect
	{
	margin-left: 10px;
	background: url(../images/icons-sprite.png) 0 -250px no-repeat;
}

#main-content #block-multipoint-measurepoints #block-multipoint-measurepoints-table .icon.commun
	{
	margin-left: 10px;
	background: url(../images/icons-sprite.png) 0 -525px no-repeat;
}

#main-content .small-block .content-wrapper table {
	max-width: 700px;
	width: 100% !important;
	table-layout: fixed;
}

#main-content .small-block .content-wrapper table td {
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main-content .large-block .big-table {
	width: 100% !important;
	max-width: 930px;
	table-layout: fixed;
}

#main-content .large-block .big-table td {
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#main-content .large-block .big-table th {
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 10px solid transparent;
}

#osmap {
	position: relative;
}