.button-wrapper .custom-deactivebutton{
	display: none;
	padding: 8px 20px 1px 20px;
	height:23px;
	font-weight: bold;
	text-align: center;
	border : 1px solid #bbbbbb;
	cursor:pointer;
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px #aaaaaa;
	font-size: 14px;

	/*
	 * Disable text selection
	 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/*
	 * gradient background
	 */
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}
