/* Enable html5 tags for 6-7-8 */
header, footer, section, hgroup, aside, nav, article, figure, figcaption, time, dialog {
	display: block;
}

html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f7f7f7;
	font-family: arial, Helvetica, sans-serif;
}

#wrapper{
	min-height: 100%;
	position: relative;
	background: #ebefee;
}

#main-content{
	padding:10px 0px 61px 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#main-content{
	color: #fff;
	text-align: center;
}

.panel button {
	width: 100%;
}

.panel{
	background: #fff;
}
.big-row {
	/*min-height: 450px;*/
	max-width: initial;
}

.big-row-padding {
	/*min-height: 450px;*/
	max-width: initial;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
}
/**
 * 	Custom Generic Button
 */
.button-wrapper{
	background-color: #e0e0e0;
	padding: 4px;
	border-radius: 3px;
	display: inline-block;
}

.filterHeader{
	background: #343d45;
	margin-top: 50px;
	/*border-top: 1px solid #E7E7E7;*/
}
.filterHeader,
.filterHeader h4,
.filterHeader label{
	color: #fff;
}

button, .button{
	background-color: #1abc9c;
}

.custom-multi-select{
	height: 2.3125rem !important;
	width: 100% !important;
	border: none;
	box-shadow: none;
	background-color: #1abc9c;
}


.button-wrapper .custom-button{
	display: inline-block;
	padding: 8px 20px 1px 20px;
	height:23px;
	font-weight: bold;
	text-align: center;
	border : 1px solid #bbbbbb;
	cursor:pointer;
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px #aaaaaa;
	font-size: 14px;
	text-decoration: none;
	
	/*
	 * Disable text selection
	 */
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
	user-select: none;
	
	/*
	 * gradient background
	 */
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}

.button-wrapper .custom-button:active{
	box-shadow: none;
	/*
	 * gradient background
	 */
	padding-top : 9px;
	padding-bottom : 0px;
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}


/**
 * 	Custom Select and datepicker
 */
.custom-select,
.custom-input-datepicker,
.custom-input,
.custom-textarea{
	overflow:hidden; /* this hides the select's drop button */
    padding:0;
    margin:0;
    background: white url(../images/toggle-btn-down.png) no-repeat;
    /* this is the new drop button, in image form */
    width:202px;
    border : 1px solid ;
	border-top-color: #bebebe;
	border-bottom-color: #ffffff;
	border-left-color: #fcfcfc;
	border-right-color: #fcfcfc;
	border-radius: 3px;
	display: inline-block;
	background-color: #e9e9e9;
	background-position: 179px 2px;
}

.custom-select.custom-small-select{
	width: 97px;
	background-position: 74px 2px;
}

.custom-select select{
	width:222px; /* this percentage effectively extends the drop down button out of view */
    background-color:transparent; /* this hides the select's background making any styling visible from the div */
    background-image:none;
    -webkit-appearance: none /* this is required for Webkit browsers */;
    border:none;
    box-shadow:none;
    padding:0.3em 2px; /* padding should be added to the select, not the div */
	outline: none;
	color : #41474c;
	font-size: 12px !important;
}

.custom-select.custom-small-select select{
	width: 116px;
}

.custom-select.custom-small-select select{
	color : #913636;
}

.custom-input-datepicker,
.custom-input-datepicker-wide{
	height: 28px;
	background : none;
	background-color: #e9e9e9;
}

.custom-input-datepicker{
	width: 97px;
}

.custom-input-datepicker input,
.custom-input-datepicker-wide input{
	border: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	outline: none;
	font-size: 12px !important;
	margin: 0px;
	padding: 6px 0px 4px 6px;
	cursor: pointer;
}

.custom-input-datepicker-wide input{
	background: transparent url(../images/toggle-btn-down.png) no-repeat;
	background-position: 179px 2px;
	width: 195px;
}

.custom-input-datepicker input{
	background: transparent url(../images/menu-arrow-red.png) no-repeat;
	background-position: 74px 2px;
	width: 90px;
}

.custom-input-datepicker.grey input{
	background: transparent url(../images/toggle-btn-down.png) no-repeat;
	background-position: 74px 2px;
	width: 90px;
	color: #41474c;
}

.custom-input,
.custom-textarea{
	background: none;
	background-color: #e9e9e9;
	padding: 3px 0px;
}

.custom-input input{
	border : none;
	background: none;
	outline: none;
	font-size: 12px !important;
	color: #41474c;
	margin: 0px 7px;
	height: 20px;
	width: 188px;
}

.custom-textarea{
	width: 504px;
	padding: 2px 3px;
}

.custom-textarea textarea{
	width: 500px;
	border : none;
	background: none;
	outline: none;
	font-size: 12px !important;
	resize: none;
	min-height: 50px;
}
/*
 * Widget multisection custom
 */
#main-content button.custom-multi-select{
	height: 28px;
}

.ui-multiselect-menu{
	background-color: white;
	border: none;
	box-shadow: none;
	color : #41474c;
	padding: 0px;
}

.ui-multiselect-menu .ui-multiselect-header{
	height: 30px;
	background-color: #e9e9e9;
	margin-bottom: 0px;
	padding: 4px 0px 4px 6px;
}

.ui-multiselect-menu ul{
	list-style: none;
	text-decoration: none;
	padding-left :0px;
	margin: 0px;
	width: 100%;
}

.ui-multiselect-menu ul li{
	padding-left: 3px;
}

.ui-multiselect-menu ul a{
	color:#0b5676;
	text-decoration: none;
	margin-right: 10px;
}

.ui-multiselect-menu ul a span{
	margin-left: 3px;
	text-decoration: underline;
}

.ui-multiselect-menu ul a img,
.ui-multiselect-menu ul a span{
	vertical-align: middle;
	display: inline-block;
}

.ui-multiselect-menu .ui-multiselect-close{
	margin-right: 3px;
}

#main-content button.custom-multi-select{
	padding-left: 0px;
	width: 202px;
	overflow:hidden;
    padding:0;
    margin:0;
    background: none;
    border:none;
    padding-left: 5px;
}

#main-content button.custom-multi-select span{
	font-size: 12px;
}

.ui-multiselect-menu .ui-multiselect-checkboxes{
	height: auto;
	max-height: 175px;
}

.ui-multiselect-menu .ui-multiselect-checkboxes span{
	font-size: 12px;
}

/*
 * Overlay
 */
#overlay{
	background: black;
	opacity: 0.3;
	z-index: 150;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	/* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
a.menu{
color:#000;
background:url('../img/BG.jpeg')no-repeat;
}
.menu-block{
display:inline;
 height:60px;
 width:30%;
 margin:5px 5px;
 border:1px solid #F00;
 cursor:pointer;
 font-size:12px;
 float:left;
 text-align: center;
 box-shadow:0px 0px 12px 0px #adadad;
 background-color:#699936;
 color:#fff;
 border-radius:10px;
}
.menu-icon {
width:40px;
border-right:1px solid #FFF;
float:left;
height:100%;
font-size:12px;
padding:0px 2px;
cursor:default;
}
.menu-icon .icon
{
height:20px;
width:48px;
}
.icon{
margin:15px 8px;

}
.menu-icon  #first-icon {
background:url('../img/Home-icon.png')no-repeat;
display:block;
z-index:150;
height:48px;
width:48px;
margin-top:9px;
margin-left:2px;
}
.menu-icon  #second-icon {
background:url('../img/Time.png')no-repeat;
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;
}
.menu-icon  #third-icon {
background:url('../img/logistics.png');
display:block;
z-index:150;
height:48px;
width:47px;
margin-top:3px;
margin-left:-5px;

}
.menu-icon  #fourth-icon {
background:url('../img/system-utilization.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;
}
.menu-icon  #fifth-icon {
background:url('../img/alert.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;

}
.menu-icon  #sixth-icon {
background:url('../img/list.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;
}
.menu-icon  #seventh-icon {
background:url('../img/tech_position.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;
}
.menu-icon  #eighth-icon {
background:url('../img/field-work.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:16px;
margin-left:3px;
}
.menu-icon  #ninth-icon {
background:url('../img/resource-projection.png');
display:block;
z-index:150;
height:48px;
width:48px;
margin-top:3px;
margin-left:-3px;
}
.menu-icon  #tenth-icon {
background:url('../img/Setting-icon.png');
display:block;
z-index:150;
height:32px;
width:32px;
margin-top:13px;
margin-left:2px;
}

.menu-block p{
  margin-left:25px;
  width:auto;
}
.menu-title{
font-size:12px;
font-weight:bold;
text-transform:uppercase;
margin-top:18px;
}
.menu-block:nth-child(1):hover{
border:1px solid #F00;
opacity:0.9;
box-shadow:2px 2px 10px 1px #2f2f2f inset;

}
a .menu-block:nth-child(2):hover{
border:1px solid brown;
opacity:0.7;
box-shadow:0px 0px 12px 1px brown;
}
a .menu-block:nth-child(3):hover{
border:1px solid yellow;
opacity:0.7;
box-shadow:0px 0px 12px 1px yellow;
}
a .menu-block:nth-child(4):hover{
border:1px solid purple;
opacity:0.7;
box-shadow:0px 0px 12px 1px purple;
}
a .menu-block:nth-child(5):hover{
border:1px solid red;
opacity:0.7;
box-shadow:0px 0px 12px 1px red;
}
a .menu-block:nth-child(6):hover{
border:1px solid green;
opacity:0.7;
box-shadow:0px 0px 12px 1px green;
}
a .menu-block:nth-child(7):hover{
border:1px solid #5f5f5f;
opacity:0.7;
box-shadow:0px 0px 12px 1px #5f5f5f;
}
a .menu-block:nth-child(8):hover{
border:1px solid #3f3f3f;
opacity:0.7;
box-shadow:0px 0px 12px 1px #3f3f3f;
}
a .menu-block:nth-child(9):hover{
border:1px solid orange;
opacity:0.7;
box-shadow:0px 0px 12px 1px orange;
}
a .menu-block:nth-child(10):hover{
border:1px solid grey;
opacity:0.7;
box-shadow:0px 0px 12px 1px grey;
}
