/**
 * 	Header 
 */
header{
	width: 100%;
	height: 101px;
}

header .left-block{
	float : left;
}

header .right-block{
	float : right;
}

header #user-details{
height:30px;
background-color:#f2f2f2;
border-bottom:2px solid #2f2f2f;
}

header #first-header{
	height: 50px;
	background-color: #f7f7f7;
	text-align: center;
}

header #first-header .left-block .logo-capgemini{
	margin: 8px 0 0 8px;
}

header #first-header .title{
	 display: inline-block;
	 font-weight: bold;
	 font-size: 25px;
	 margin-top: 10px;
}

header #first-header .title .logo-smart-energies{
	vertical-align: middle;
	margin-right: 10px;
}

header #first-header .title span{
	display: inline-block;
	vertical-align: middle;
}

header #first-header .right-block{
	margin-left: 55px;
	min-width: 93px;
}

header #first-header .right-block a#logout-button{
	color: #f7f7f7;	
	margin: 14px 12px 0 0;
	display: block;
	text-decoration: none;
}


header #first-header .left-block a#logo-home img{
	border: none;
	outline: none;
}

header #first-header .right-block #logout-button img{
	display: inline-block;
	vertical-align: middle;
	
}

header #first-header .right-block #logout-button span{
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
	font-weight: bold;
	font-size: 13px;
	color: #913636;	
}

header #second-header{
	height: 51px;
	position: absolute;
	width: 100%;
	top: 50px;
	z-index: 50;
	color : #41474c;
}

header #second-header.fixed{
	position:fixed;
	top:0;
}

header #second-header #barre{
	height: 41px;
	border-top: 8px solid #41474C;
	border-bottom: 2px solid #41474c;
	z-index: 200;
	position: relative;
}

header #second-header #barre #home-button {
height: 27px;
	width: 75px;
	margin-top: 5px;
	margin-left: 10px;
	border: 1px solid #8f8f8f;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #aaaaaa;

	/*
	 * Gradient background
	 */
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	
	/*
	 * Disable text selection 
	 */
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
	user-select: none;
}



header #second-header #barre #menu-button{
	height: 27px;
	width: 75px;
	margin-top: 5px;
	margin-left: 90px;
	border: 1px solid #8f8f8f;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #aaaaaa;

	/*
	 * Gradient background
	 */
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	
	/*
	 * Disable text selection 
	 */
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
	user-select: none;
}

header #second-header #barre #menu-button:active{
	height: 26px;
	padding-top: 1px;	
	box-shadow: none;
	/*
	 * Gradient background
	 */
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

header #second-header #barre #menu-button .menu-button-text{
	display: inline-block;
	vertical-align : middle;
	font-size: 12px;
	text-align : center;
	font-weight :bold;
	margin-top: 5px;
	margin-left: 12px;
}

header #second-header #barre #home-button .menu-button-text
{
    display: inline-block;
	vertical-align : middle;
	font-size: 12px;
	text-align : center;
	font-weight :bold;
	margin-top: 6px;
	margin-left: 10px;
}



header #second-header #barre #menu-button:active .menu-button-text{
	margin-top: 6px;
}

header #second-header #barre #menu-button .menu-button-arrow{
	display: inline-block;
	vertical-align : middle;
	width: 11px;
	height: 7px;
	/*margin-top: 5px;
	margin-left: 10px; */
	
	margin-top: 6px;
	margin-left: 6px;
}

header #second-header #barre #menu-button .menu-button-arrow.open{
	background: url(../images/menu-arrow-up.png);
}

header #second-header #barre #menu-button .menu-button-arrow.close{
	background: url(../images/menu-arrow-down.png);	
}

header #second-header #barre .right-block .search-box{
	background: #e9e9e9; 
	border: 1px solid #8f8f8f;
	border-radius: 3px;
	padding: 3px 3px 3px 5px;
	margin-top: 5px;
	margin-right: 10px;
}

header #second-header #barre .right-block .search-box #search-input{
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: none;
	width: 220px;
}

header #second-header #barre .right-block .search-box #search-input{
	outline: none;
}

header #second-header #barre .right-block .search-box #search-button{
	background: url(../images/btn-search.png);
	width: 25px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
}

header #second-header #barre .right-block .search-box #search-button:active{
	height: 22px;
	margin-top: 1px;
}

header #second-header #menu{
	width: 300px;
	display: none;
	padding-bottom: 8px;
	background-color: #41474C;
	border-right: 1px solid #9c9c9c;
	box-shadow: rgb(173, 173, 173) 1px 0px 12px 0px;
}

header #second-header #menu #menu-inner{
	padding: 10px 20px 10px 20px;
}

header #second-header #menu #menu-inner .menu-element{
	margin-bottom: 5px;
}

header #second-header #menu #menu-inner .menu-element a{
	text-decoration: none;
}

header #second-header #menu #menu-inner .menu-element a:hover .menu-element-name{
	text-decoration: underline;
}

header #second-header #menu #menu-inner .menu-element .menu-element-picto{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

header #second-header #menu #menu-inner .menu-element .menu-element-name{
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

header #second-header #menu #menu-inner .menu-element #menu-button-home .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 0px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-delivery-performance .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -20px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-logistics .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -40px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-system-utilization .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -60px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-alarm-management .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -80px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-work-order-progress .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -100px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-technician-positioning .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -120px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-technician-work-load .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -140px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-resource-projections .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -160px no-repeat;
}

header #second-header #menu #menu-inner .menu-element #menu-button-settings .menu-element-picto{
	background: url(../images/menu-icons-sprite20x20.png) 0 -180px no-repeat;
}


