#header {
	border: none;
}
.top-menu * {
		margin-left: 0px !important;
}
.top-menu li ul {
	margin-bottom: 0px;
}
.top-menu-first {
	margin-left: 10px;
}
.top-menu-first ul {
	padding-left: 20px;
}
.top-menu-third {
	padding-top: 15px;
}