.top-menu, .top-menu li ul {
	margin-bottom: 0 !important;
}
.top-menu * {
	margin-left: 0 !important;
}
.top-menu-first {
	margin-left: 10px;
}
.top-menu-first ul {
	padding-left: 20px;
}
.top-menu-third {
	/*padding-top: 15px;*/
}
.top-menu-third ul li:first-child {
	padding-right: 10px;
}
.top-menu-third ul li a {
	padding: 0.85rem;
}

#search-input {
	padding-top: 5px !important;
}
.input-datepicker {
	padding-top: 10px !important;
}
select {
	padding: 4px 0 7px 0;
}
.lang-dropdown, .panel-inner select {
	background-color: #fff !important;
}


/*
 YOU HAVE FILTERED
 */
.filtered {
	position: fixed !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

dd a:hover {
	background: #3b3d42 !important;
}
.slide-menu-right{
	line-height: 1em;
}
.lang-dropdown{
	z-index: 99999;
}
header .slide-menu-left a{
	color: #fff;
	display: block;
	padding: 12px 20px !important;
}
.wrapper-blur {
	height: 150%;
}