#header {
	border: none;
}
.top-menu * {
		margin-left: 0 !important;
}
.top-menu li ul {
	margin-bottom: 0;
}
.top-menu-first {
	margin-left: 10px;
}
.top-menu-first ul {
	padding-left: 20px;
}
.top-menu-third {
	padding-top: 15px;
}
.top-menu-third ul li:first-child {
	padding-right: 10px;
}
.top-menu-third ul li a {
	padding: 0 10px;
	border-left: 1px solid;
}

/*
 YOU HAVE FILTERED
 */
